<%- include("partials/header.ejs") %>

<div class="container">
    <form action="/submit" method="post" class="form">
      <div class="container d-flex align-items-center px-0">
        <input
        type="text" class="my-3 form-control" style="width: 80% !important"
        id="blogTitle" name="blogTitle"
        required minlength="5" maxlength="70" size="80" />
        <p class="mb-0 ms-2" id="characterCounter">70 characters left</p>
      </div>
      <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
        <label class="btn btn-outline-dark" for="btncheck1"><b>B</b></label>

        <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
        <label class="btn btn-outline-dark" for="btncheck2"><i>I</i></label>

        <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
        <label class="btn btn-outline-dark" for="btncheck3"><u>U</u></label>
        </div>
      <textarea id="blogContent" name="blogContent" rows="20" class="form-control mt-2" placeholder="Share your thoughts with the world"></textarea>
      <input class="my-1" type="submit" value="Post" />
    </form>
</div>

<script>
  $("#blogTitle").on("input", function () {
    const length = $(this).val().length;
    $("#characterCounter").html((70 - length) + " characters left");
  });
</script>

<%- include("partials/footer.ejs") %>